<div class="container admin-panel">
  <h1 class="text-center mb-4">Admin Panel</h1>
  <div class="row">
    <!-- Add Bank -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Add Bank</h5>
          <button
            routerLink="/admin/add-bank"
            class="btn btn-primary btn-block"
          >
            Add Bank
          </button>
        </div>
      </div>
    </div>
    <!-- Reports -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Reports</h5>
          <button routerLink="/admin/reports" class="btn btn-primary btn-block">
            Reports
          </button>
        </div>
      </div>
    </div>
    <!-- Add Client -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Add Client</h5>
          <button
            routerLink="/admin/add-client"
            class="btn btn-primary btn-block"
          >
            Add Client
          </button>
        </div>
      </div>
    </div>
    <!-- Employee Transaction Request -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Employee Transaction Request</h5>
          <button
            routerLink="/admin/employee-transaction-request"
            class="btn btn-primary btn-block"
          >
            Employee Transaction Request
          </button>
        </div>
      </div>
    </div>
    <!-- Approve Client -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Approve Client</h5>
          <button
            routerLink="/admin/approve-client"
            class="btn btn-primary btn-block"
          >
            Approve Client
          </button>
        </div>
      </div>
    </div>
    <!-- Beneficiary Transaction Request -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Beneficiary Transaction Request</h5>
          <button
            routerLink="/admin/beneficiary-transaction-request"
            class="btn btn-primary btn-block"
          >
            Beneficiary Transaction Request
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
