<h1 class="text-center my-4">Client Panel</h1>

<!-- Button Navigation -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4 text-center">
      <a routerLink="/client/salary-disburse" class="btn btn-primary btn-lg btn-block py-4">Salary Disburse</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4 text-center">
      <a routerLink="/client/employee-manager" class="btn btn-primary btn-lg btn-block py-4">Employee Manager</a>
    </div>
    <div class="col-md-6 mb-4 text-center">
      <a routerLink="/client/beneficiary-crude" class="btn btn-primary btn-lg btn-block py-4">Beneficiary Crude</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4 text-center">
      <a routerLink="/client/payment-to-beneficiary" class="btn btn-primary btn-lg btn-block py-4">Payment to Beneficiary</a>
    </div>
    <div class="col-md-6 mb-4 text-center">
      <a routerLink="/client/report" class="btn btn-primary btn-lg btn-block py-4">Reports</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
